@import '../../styles/_vars.scss';

.page__title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
  text-align: left;
  margin-left: 5rem;
  span {
    color: $darkGreen;
  }
}

.worksContainer {
  position: relative;
  z-index: 42;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__item {
    width: 20%;
    border-radius: .2rem;
    margin: 4rem 4rem;
  }
  &__label {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding: 3rem;
    border: 3px solid $darkText;
    border-radius: .1rem;
    width: 100%;
    overflow: hidden;
    transition: $fastTransition;
    &:hover {
      transition: $fastTransition;
      border-color: $darkHover;
      color: $darkHover;
      transform: scale(1.01);
    }
  }
  &__label {
    padding: 1rem;
  }
}
