@import '../../styles/_vars.scss';

.page__title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
  text-align: left;
  margin-left: 5rem;
  span {
    color: #66ff66;
  }
}

.worksContainer {
  position: relative;
  z-index: 42;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__item {
    width: 20%;
    height: 250px;
    border: 3px solid $darkText;
    border-radius: .2rem;
    margin: 4rem;
  }
  &__picture {
    width: 100%;
    height: 175px;
  }
  &__label {
    padding-top: 1rem;
  }
}
