@import '../../styles/_vars.scss';

.page__title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 900;
  text-align: left;
  margin-left: 5rem;
  span {
    color: $darkGreen;
  }
}

.worksContainer {
  position: relative;
  z-index: 42;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__item {
    width: 28%;
    border-radius: .2rem;
    margin: 4rem 4rem;
  }
  &__label {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding: 3rem;
    border: 3px solid $darkText;
    border-radius: .1rem;
    width: 100%;
    overflow: hidden;
    transition: $fastTransition;
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid $darkGreen;
      transition: $fastTransition;
      position: absolute;
      left: 2rem;
    }
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid $darkGreen;
      transition: $fastTransition;
      position: absolute;
      right: 2rem;
    }
    &:hover {
      transition: $fastTransition;
      border-color: $darkGreen;
      color: $darkGreen;
      transform: scale(1.01);
      &::before {
        transform: scale(6.1);
        background-color: $darkGreen;
        border-color: $darkGreen;
      }
      &::after {
        transform: scale(6.1);
        background-color: $darkGreen;
        border-color: $darkGreen;
      }
    }
  }
  &__label {
    padding: 1rem;
  }
}
