@import '../../styles/_vars.scss';

.app {
  overflow-y: auto;
  scroll-snap-type: mandatory;
  width: 100%;
  text-align: center;
  background-color: $darkBackground;
  color: $darkText;
  transition: $fastTransition;

  span {
    color: $darkGreen;
  }

  /* Mode light changements */
  &--light {
    span {
      color: #fff;
    }
    font-weight: 900;
    background-color: $lightBackground;
    color: $lightText;
    /* Navigation Component */
    .navigation {
      &__link {
        border-color: $lightText;
        &:hover {
          color: $lightHover;
          &:before {
            border-color: $lightHover;
            background-color: $lightHover;
          }
        }
        &:before {
          border-color: $lightText;
        }
        &--active:before {
          background-color: $lightText;
        }
      }   
    }
    svg {
      fill: $lightText;
      &:hover {
        fill: $lightHover;
      }
    }
    .home__description {
      color: #fff;
    }
    .page {
      a {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        &:hover {
          color: $lightHover;
        }
      }
      svg {
        path {
          fill: $lightText
        }
      }
    }
    .cv__picture {
      border-color: $lightText;
      background-color: $lightBackground;
    }
    .cv__text {
      color: #fff;
        text-shadow: 1px 1px 1px #000;
        &:hover {
          color: $lightHover;
        }
    }
    .training {
      border-color: $lightText;
    }
    .worksContainer__picture {
      border: 5px solid #fff;
      border-radius: .3rem;
      &:hover {
        border-color: #fff;
      }
    }
    .formContainer {
      &__message {
        font-weight: 600;
        color: $lightText;
        background-color: $ligthTextBackground;
        &::placeholder {
          color: $lightText;
        }
      }
      &__user-email {
        font-weight: 600;
        color: $lightText;
        background-color: $ligthTextBackground;
        &::placeholder {
          color: $lightText;
        }
      }
      &__submit {
      background-color: #fff;
        &:hover {
          background-color: $lightText;
          color: $lightBackground;
        }
      }
    }
  }
}

/* Shared page styles */
.page {
  margin-bottom: 2rem;
  padding-top: 5rem;
  background-color: inherit;
  width: 80%;
  height: 100vh;
  float: right;
  position: relative;
  &__background {
    overflow: hidden;
    transition: $fastTransition;
    letter-spacing: -2rem;
    position: absolute;
    font-size: 25rem;
    top: 50%;
    right: 2rem;
    color: $darkTextBackground;
    z-index: 0;
  }
}

/* Pages components */
  .app--light .page__background {
    color: $ligthTextBackground;
  }


