@import '../../styles/_vars.scss';
.skillsTechnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .technos {
    position: relative;
    z-index: 42;
    width: 100%;
    &__title {
      font-size: 3rem;
      margin-bottom: 5rem;
    }
    &__container {
      display: flex;
      justify-content: center;
      div {
        margin-left: 2rem;
        p {
          margin-top: .3rem;
        }
      }
      svg {
        height: 4rem;
        width: 4rem;
        path {
          fill: $darkText;
        }
      }
    }
  }

  .softSkills {
    position: relative;
    z-index: 42;
    &__title {
      text-align: left;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    &__liste {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    &__item {
      text-align: right;
      margin-top: 1rem;
    }
  }

  .training {
    font-size: 1.5rem;
    position: relative;
    z-index: 42;
    border: solid 3px $darkText;
    height: fit-content;
    width: fit-content;
    padding: 3rem;
    border-radius: .3rem;
    top: 7rem;
    &__title {
      margin-bottom: 1rem;
    }

    &__text {
      a {
        font-style: italic;
        color: $darkGreen;
        transition: $fastTransition;
        &:hover {
          color: $darkHover;
          transition: $fastTransition;
        }
      }
    }
  }
}
